 <!-- <mat-card class="content">
        <div class="col-lg-4 col-md-6">
            <div class="property-item">
                
                <img class="pi-pic set-bg" src="assets/img/property/property-2.jpg">
                <div class="pi-text"div>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <div class="pt-price">$ 289.0<span>/month</span></div>
                    <h5><a >Home in Merrick Way</a></h5>
                    <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                    <ul>
                        <li><i class="fa fa-object-group"></i> 2, 283</li>
                        <li><i class="fa fa-bathtub"></i> 03</li>
                        <li><i class="fa fa-bed"></i> 05</li>
                        <li><i class="fa fa-automobile"></i> 01</li>
                    </ul>
                    <div class="pi-agent">
                        <div class="pa-item">
                            <div class="pa-info">
                                <img src="assets/img/agents/a1.jpg" alt="">
                                <h6>Ashton Kutcher</h6>
                            </div>
                            <div class="pa-text">
                                123-455-688
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </mat-card>
  -->
<!-- <mat-card class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
							
        <div class="product-thumb">
            <img width="80px" height="auto" src="images/products/products-1.jpg" alt="image description"></div>
        <div class="product-details">
            <h3 class="title">Macbook Pro 15inch</h3>
            <span class="add-id"><strong>Ad ID:</strong> ng3D5hAMHPajQrM</span>
            <span><strong>Posted on: </strong><time>Jun 27, 2017</time> </span>
            <span class="status active"><strong>Status</strong>Active</span>
            <span class="location"><strong>Location</strong>Dhaka,Bangladesh</span>
        </div>
        <div class="product-category"><span class="categories">Laptops</span></div>
        <div class="action" data-title="Action">
            <div class="">
                <ul class="list-inline justify-content-center">
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
                            <i class="fa fa-eye"></i>
                        </a>		
                    </li>
                    <li class="list-inline-item">
                        <a class="edit" href="">
                            <i class="fa fa-pencil"></i>
                        </a>		
                    </li>
                    <li class="list-inline-item">
                        <a class="delete" href="">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
</mat-card> -->

<!-- <div class="content">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Himalayan Peaks</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/property/property" />
      <mat-card-content>
        <p>The Himalayas is a mountain range in Asia.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button> <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

  <!-- <mat-card class="listing content">
    <mat-card-header>
      <mat-card-title>Mountains </mat-card-title>
    </mat-card-header>
    <img  src="assets/img/property/property-2.jpg" />
    <mat-card-content>
      <div class="content-container">
        <ul>
            <li>Bedroom : 100</li>
            <li>Washroom : 100</li>
            <li>Location : Under Water</li>
            <li>Price : Rs. 0</li>
        </ul>
      </div>
    </mat-card-content>
    <mat-card-actions>
       <div class="action-container">
        <button mat-button color="primary" class="submit-button">Like Property</button>  
        <button mat-button color="primary" class="submit-button">Save Property</button>
        <br>
        <button mat-button color="primary" class="submit-button">Property Details</button>
       </div> 
    </mat-card-actions>
</mat-card> -->

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Property For {{propertyDetails.propertyPurpose}}</mat-card-title>
      <mat-card-subtitle>Property in {{propertyDetails.propertyCity}}</mat-card-subtitle>
      <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>
            <img src="assets/img/icons/menu.png">
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Save</span>
          </button>
          <button mat-menu-item>
            <span>Report</span>
          </button>
        </mat-menu>        
    </mat-card-header>
    <img mat-card-image src="assets/img/property/property-2.jpg">
    <mat-card-content class="content-container">
      <ul>
        <li>Bedroom : {{propertyDetails.propertyBedrooms}}</li>
        <li>Washroom : {{propertyDetails.propertyWashrooms}}</li>
        <li>Price : {{propertyDetails.propertyCost}}</li>
    </ul>
    <p>{{propertyDetails.propertyDescription}}</p>
    </mat-card-content>
    <mat-card-actions class="action-container" >
      <button mat-button class="btn btn-default" (click)="seePropertyDetails()">See Details</button>
    </mat-card-actions>
  </mat-card>