<!-- Footer -->
<footer class="page-footer">

    
    <div class="container">

     
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        
        <div class="col-md-2 mb-3">
          <h3 class="text-uppercase font-weight-bold">
            <a href="#!">About us</a>
          </h3>
        </div>
        

       
        <div class="col-md-2 mb-3">
          <h3 class="text-uppercase font-weight-bold">
            <a href="#!">Popular Properties</a>
          </h3>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h3 class="text-uppercase font-weight-bold">
            <a href="#!">Blog</a>
          </h3>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h3 class="text-uppercase font-weight-bold">
            <a href="#!">Help</a>
          </h3>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h3 class="text-uppercase font-weight-bold">
            <a href="#!">Contact Us</a>
          </h3>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="mb-5 text-center">

            <!-- Facebook -->
            <a>
              <mat-icon class="white-text mr-4">
                  <img src="assets/img/icons/facebook.png">
              </mat-icon>
            </a>
            <!-- Twitter -->
            <a>
              <mat-icon class="white-text mr-4">
                <img src="assets/img/icons/twitter.png">
              </mat-icon>
            </a>
            <!--Instagram-->
            <a>
              <mat-icon class="white-text mr-4">
                <img src="assets/img/icons/instagram.png">
              </mat-icon>
            </a>
            <!--Pinterest-->
            <a>
              <mat-icon class="white-text mr-4">
                <img src="assets/img/icons/youtube.png">
              </mat-icon>
            </a>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 font-weight-bold">© 2020 Copyright:
      <a> PBCHAIN TEAM </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->