.search {
    margin : 10px;
}

mat-form-field {
    margin : 5px
}

.basic-search {
    text-align: center;
}

.submit-button {
    margin : 10px;
}

.basic-search mat-expansion-panel {
    margin : 5px;
    width : auto;
}