<!-- <div class="content" fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7]">
      
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains {{num}}</mat-card-title>
        </mat-card-header>
        <img  src="assets/img/property/property-2.jpg" />
        <mat-card-content>
          <p>The Himalayas is a mountain range in Asia.</p>
          <p>The Himalayas is a mountain range in Asia.</p>
          <p>The Himalayas is a mountain range in Asia.</p>
          <p>The Himalayas is a mountain range in Asia.</p>
        </mat-card-content>
        <mat-card-actions>
           <button mat-button>LIKE</button> <br> <button mat-button>SHARE</button> 
        </mat-card-actions>
    </mat-card>
    </div>
  </div> -->


  <div class="header-connect">
            
    <div class="col-md-5 col-sm-8  col-xs-12">
        <div class="header-half header-call">
            <p>
                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
            </p>
        </div>
    </div>
  </div>      
  
  
  <div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Property Listings </h1>               
            </div>
        </div>
    </div>
  </div>

  <app-search></app-search>
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <app-p-listing [PDetails]="propertyDetails"></app-p-listing>
    </div>
  </div>

  <app-footer></app-footer>