.request-card {
    width : 95%;
    height: 90%;
    margin :20px;
  }

  .profile-container  {
    width : 95%;
    height : 90%;
    text-align: center;
  }

  table {
    width : 100%;
    margin: 15px 0px;
  }