<div class="header-connect">
            
    <div class="col-md-5 col-sm-8  col-xs-12">
        <div class="header-half header-call">
            <p>
                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
            </p>
        </div>
    </div>
  </div>      
  
  
  <div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Admin Dashboard </h1>               
            </div>
        </div>
    </div>
  </div>



  <div class="container">
    <mat-grid-list cols="4" rowHeight="700px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-card class="request-card">
                <mat-card-title>Organization Sign Up Requests</mat-card-title>
                <!-- <div *ngFor="let i of reqs">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                              For Property {{i.propertyPropertyId}}
                            </mat-panel-title>
        
                            <mat-panel-description>
                                From {{i.userUserId}}
                              </mat-panel-description>
                          </mat-expansion-panel-header>                     
                      </mat-expansion-panel>
                </div> -->

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
                    
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="from">
                      <th mat-header-cell *matHeaderCellDef> From </th>
                      <td mat-cell *matCellDef="let element"> {{element.userUserId}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="forProperty">
                      <th mat-header-cell *matHeaderCellDef> For Property </th>
                      <td mat-cell *matCellDef="let element"> {{element.propertyPropertyId}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                      </ng-container>

                      <ng-container matColumnDef="accept">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.status == 'Pending'" mat-button class="btn btn-default" (click)="acceptOffer(element)"> Accept Offer</button>    
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="reject">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> 
                        <button *ngIf="element.status == 'Pending'" mat-button class="btn btn-default" (click)="rejectOffer(element)"> Reject Offer </button>    
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="profile-container">
                    <mat-card-header>
                        <mat-card-title>User Profile</mat-card-title>        
                    </mat-card-header>
                    <img mat-card-image src="assets/img/team/team-1.jpg">
                    <mat-card-content class="content-container">
                        <ul>
                            <li><h3>User Profile ID : {{user.userId}} </h3></li>
                            <li><h3>Name : {{user.name}} </h3></li>
                            <li><h3>Email : {{user.email}} </h3></li>
                            <li><h3>Phone Number : {{user.pnum}} </h3></li>
                            <li><h3>Joined : {{user.createdAt}} </h3></li>
                        </ul>
                    </mat-card-content>
            
                  </mat-card>
            
        </mat-grid-tile>
      </mat-grid-list>
</div>