<!DOCTYPE html>

<html class="no-js"> 
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
       
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>


       
        <div class="header-connect">
            
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
                            </p>
                        </div>
                    </div>
        </div>            

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Pricing </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!--End top header -->


        <div class="columns">
            <ul class="price">
              <li class="header">Basic</li>
              <li class="grey">PKR 3000 / Month</li>
              <li>1 Property</li>
              <!-- <li class="grey"><a mat-button class="button">Buy</a></li> -->
            </ul>
          </div>
          <div class="columns">
            <ul class="price">
              <li class="header" style="background-color:goldenrod">Pro</li>
              <li class="grey">PKR 5500 / 6 Month</li>
              <li>1 Property</li>
              <!-- <li class="grey"><a mat-button class="button">Buy</a></li> -->
            </ul>
          </div>
          
          <div class="columns">
            <ul class="price">
              <li class="header">Premium</li>
              <li class="grey">PKR 10000 / Year</li>
              <li>1 Property</li>
              <!-- <li class="grey"><a mat-button class="button">Buy</a></li> -->
            </ul>
          </div>
        

        
<!-- <router-outlet></router-outlet> -->
    </body>
</html>



<app-footer></app-footer>