<!-- <div class="slide-container">
    <mat-card-title>Featured Properties</mat-card-title>
    <ngb-carousel>
        <ng-container class="silde" *ngFor = "let p of properties; let i = index">
                <ng-template ngbSlide>
                    <div fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'">
                    <app-p-listing [PDetails] = "properties[i]"></app-p-listing>
        
                    <app-p-listing [PDetails] = "properties[i+1]"></app-p-listing>
        
                    <app-p-listing [PDetails] = "properties[i+2]"></app-p-listing>
                </div>
                </ng-template>
        </ng-container>
    
            <ng-container class="silde">
                <ng-template  ngbSlide>
                    <div fxLayout="row"  fxLayoutGap="15px"  [style.margin-top]="'12px'">
                    <app-p-listing></app-p-listing>
        
                    <app-p-listing></app-p-listing>
        
                    <app-p-listing></app-p-listing>
                </div>
                </ng-template>
            </ng-container>
      </ngb-carousel>
    </div> -->

<div class="hor">
    <mat-card-title class="text-uppercase font-weight-bold">Featured Properties</mat-card-title>
    <div fxLayout="row"  fxLayoutGap="15px" class="scroll" >
        <div *ngFor="let p of properties">
            <app-p-listing [PDetails] = "p"></app-p-listing>
        </div>
    </div>
</div>