<div class="header-connect">
            
    <div class="col-md-5 col-sm-8  col-xs-12">
        <div class="header-half header-call">
            <p>
                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
            </p>
        </div>
    </div>
  </div>      
  <div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">User Profile </h1>               
            </div>
        </div>
    </div>
  </div>

  


<div class="profile">
    
    <mat-card class="profile-card">
        <img mat-card-image src="assets/img/team/team-1.jpg">
        <mat-card-content>
            <ul>
                <li><h3>Name : {{user.name}} </h3></li>
                <li><h3>Email : {{user.email}} </h3></li>
                <li><h3>Phone Number : {{user.pnum}} </h3></li>
                <li><h3>User Type : {{user.userType}} </h3></li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>

<!-- <div layout="row">

    <div *ngFor="let a of [1,2,3,4,5,6,7,8,9]">
                  
    </div>
    </div> -->
    <app-footer></app-footer>