<div class="profile">
    
    <mat-card class="profile-card">
        <img mat-card-image src="assets/img/team/team-1.jpg">
        <mat-card-content>
            <ul>
                <li><h3>Name : {{user.name}} </h3></li>
                <li><h3>Email : {{user.email}} </h3></li>
                <li><h3>Phone Number : {{user.pnum}} </h3></li>
                <li><h3>User Type : {{user.userType}} </h3></li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>

<div layout="row">

    <div *ngFor="let a of [1,2,3,4,5,6,7,8,9]">
                  
    </div>
    </div>