.wallet-container  {
    width : 100%;
    height : auto;
    text-align: center;
  }
  
  .balance-container {
    margin : 10px;
    text-align: center;
    
  }
  
  .balance {
    font-size: xx-large;
    /* font-size-adjust: 1.5; */
  }

  table {
      width: 100%;
      margin : 15px 0px;
  }

  .wallet-history {
    width : 95%;
    height: 90%;
  }