<!DOCTYPE html>

<html class="no-js"> 
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
       
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>


       
        <div class="header-connect">
            
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
                            </p>
                        </div>
                    </div>
        </div>            
        <!--End top header -->


        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">PBChain Blogs </h1>               
                    </div>
                </div>
            </div>
        </div>

        <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">   
                <div class="row">
                    <div class="blog-lst col-md-12 pl0">
                        <section class="post">
                            <div class="text-center padding-b-50">
                                <h2 class="wow fadeInLeft animated">Property crises 2020</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="author-category">
                                        By <a href="#">Usama Bashir</a>
                                        in <a href="blog.html">Webdesign</a>
                                    </p>
                                </div>
                                <div class="col-sm-6 right" >
                                    <p class="date-comments">
                                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                        <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInLeft animated">
                                <a href="single.html">
                                    <img src="assets/img/blog/bh-bg.jpg" class="img-responsive" alt="Example blog post alt">
                                </a>
                            </div>
                            <p class="intro">In this post Dos & Don’ts Start Small Repair, Cover Damages, Fill Upgrade The Designs Kitchen Cupboards & Bathroom Vanity Landscaping If you are a renter, you must …</p>
                            <p class="read-more">
                                <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                            </p>
                        </section>   

                        <section class="post">
                            <div class="text-center padding-b-50">
                                <h2  class="wow fadeInLeft animated">Property Update 2020</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="author-category">
                                        By <a href="#">Usama Bashir</a>
                                        in <a href="blog.html">Webdesign</a>
                                    </p>
                                </div>
                                <div class="col-sm-6 right" >
                                    <p class="date-comments">
                                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                        <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInLeft animated">
                                <a href="single.html">
                                    <img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="Example blog post alt">
                                </a>
                            </div>
                            <p class="intro">PBchain.com, Pakistan’s first and largest property portal, hosted another edition of the highly acclaimed Business Connect Event in Sahiwal on February 13. More than 100 affiliates attended the …</p>
                            <p class="read-more">
                                <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                            </p>
                        </section>  

                        <section class="post">
                            <div class="text-center padding-b-50">
                                <h2  class="wow fadeInLeft animated">Property Now 2021</h2>
                                <div  class="title-line wow fadeInRight animated"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="author-category">
                                        By <a href="#">Usama Bashir</a>
                                        in <a href="blog.html">Webdesign</a>
                                    </p>
                                </div>
                                <div class="col-sm-6 right" >
                                    <p class="date-comments">
                                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                        <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInLeft animated">
                                <a href="single.html">
                                    <img src="assets/img/blog/blog1.jpg" class="img-responsive" alt="Example blog post alt">
                                </a>
                            </div>
                            <p class="intro">IN THIS POST– Gulshan-e-Iqbal Town– Gulistan-e-Jauhar– DHA, Karachi– North Nazimabad– Clifton There is no shortage of apartment complexes in Karachi. From luxury duplexes and penthouses to pocket-friendly studio …</p>
                            <p class="read-more">
                                <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                            </p>
                        </section>  

                    </div>  
                </div>

            </div>
        </div>
<router-outlet></router-outlet>
        <app-footer></app-footer>
    </body>
</html>