<div class="header-connect">
            
  <div class="col-md-5 col-sm-8  col-xs-12">
      <div class="header-half header-call">
          <p>
              <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
              <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
          </p>
      </div>
  </div>
</div>   
<div class="back">
  <div class="search">

    <app-search></app-search>
  </div>
</div>


<app-featured-listing [properties]="properties"></app-featured-listing>
<!-- <app-featured-agency></app-featured-agency> -->
<!-- <app-featured-developers></app-featured-developers> -->
<!-- <app-nearby-property [properties]="properties"></app-nearby-property> -->
<!-- <app-recent-property [properties]="properties"></app-recent-property> -->
<app-footer></app-footer>
