.body {
    margin: 0;
    padding: 0;
}
.back {
    background-image: url('src/asset/img/slide1/slider-image-2.jpg');
    height: 550px;

    
}
.search {
    padding: 50px;
    height : 50%;
    opacity: 85%;
}
