<div class="header-connect">
            
  <div class="col-md-5 col-sm-8  col-xs-12">
      <div class="header-half header-call">
          <p>
              <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
              <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
          </p>
      </div>
  </div>
</div>   
<div class="back">
  <div class="search">

    <app-search></app-search>
  </div>
</div>


<app-featured-listing></app-featured-listing>
<app-featured-agency></app-featured-agency>
<app-featured-developers></app-featured-developers>
<app-footer></app-footer>

<script src="assets/js/modernizr-2.6.2.min.js"></script>

        <script src="assets/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-select.min.js"></script>
        <script src="assets/js/bootstrap-hover-dropdown.js"></script>

        <script src="assets/js/easypiechart.min.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>

        <script src="assets/js/owl.carousel.min.js"></script>   
        <script src="assets/js/wow.js"></script>

        <script src="assets/js/icheck.min.js"></script>
        <script src="assets/js/price-range.js"></script>

        <script src="assets/js/main.js"></script>
