<div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/p1.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <mat-card>
    <div class="content-container">
      <ul>
          <li>Bedroom : 100</li>
          <li>Washroom : 100</li>
          <li>Location : Under Water</li>
          <li>Price : Rs. 0</li>
      </ul>
    </div>
  </mat-card>
  
</div>