<div class="header-connect">
            
  <div class="col-md-5 col-sm-8  col-xs-12">
      <div class="header-half header-call">
          <p>
              <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
              <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
          </p>
      </div>
  </div>
</div>      


<div class="page-head"> 
  <div class="container">
      <div class="row">
          <div class="page-head-content">
              <h1 class="page-title">Property Details </h1>               
          </div>
      </div>
  </div>
</div>



  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-1.jpg" alt="Angular Carousel 1">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-2.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-3.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-4.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-5.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/property/property-6.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>

    <!-- <div *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{ 'assets/img/property/property-'+num+'.jpg' }}" alt="Angular Carousel 1">
        </div>
      </ng-template>
    </div> -->
  </ngb-carousel>
<div class="">
  
  <mat-card class="content-container">
    <mat-card-header>
      <mat-card-title>Property Details</mat-card-title>
    </mat-card-header>
      <ul>
        <li> Property ID: {{ propertyDetails.propertyId }}</li>
        <li> City : {{ propertyDetails.propertyCity }}</li>
        <li> Location : {{ propertyDetails.propertyLocation }}</li>
        <li> Property Type : {{ propertyDetails.propertyType }}</li>
        <li> Bedrooms : {{ propertyDetails.propertyBedrooms }}</li>
        <li> Washrooms : {{ propertyDetails.propertyWashrooms }}</li>
        
        <li> Address : {{  propertyDetails.propertyAddress }}</li>
        <li> Purpose : {{ propertyDetails.propertyPurpose }}</li>
      </ul>
      <p> {{propertyDetails.propertyDescription }}</p>
    
      <mat-card-actions *ngIf="! (user.userId == propertyDetails.userUserId)"class="text-center">
      <mat-form-field>
        <mat-label>Offer Amount</mat-label>
        <input matInput [(ngModel)]="offeredAmount" name="offeredAmount">
      </mat-form-field>
        <button mat-button type="submit" (click)="placeBuyRequest()" class="btn btn-default">
          Place Buy Request
        </button>
      </mat-card-actions>
  </mat-card>

  <div class="container">
    <app-property-history [propertyId]="propertyDetails.propertyId"></app-property-history>
    <br>
    <br>
  </div>
  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{req.id}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Property ID </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
     -->

</div>
  <app-footer></app-footer>