  <!DOCTYPE html>
  <html class="no-js"> 
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
      </head>
      <body>

          <div class="header-connect">
                      <div class="col-md-5 col-sm-8  col-xs-12">
                          <div class="header-half header-call">
                              <p>
                                  <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                  <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
                              </p>
                          </div>
                      </div>
          </div>       
          
        <div class="page-head"> 
          <div class="container">
              <div class="row">
                  <div class="page-head-content">
                      <h1 class="page-title">Add New Property </h1>               
                  </div>
              </div>
          </div>
      </div>

      <mat-card>
    
      <div class="register-area">
      <div class="col-md-12 col-xs-12 register-blocks">
        <form class="form" (submit)="onSubmit()">    
    <mat-card-title class="title">
        <h2>Property Details</h2>
    </mat-card-title>

    <mat-form-field>
      <mat-label>Purpose</mat-label>
      <mat-select [(ngModel)]="purpose" name="type">
        <mat-option *ngFor="let type of ['Sale', 'Rent']" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Property Type</mat-label>
      <mat-select [(ngModel)]="selectedPropertyType" name="type">
        <mat-option *ngFor="let type of propertyTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
       <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput type="text" [(ngModel)]="selectedCity" name="selectedCity">
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput type="text" [(ngModel)]="location" name="location">
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Bedrooms</mat-label>
        <input matInput type="number"  [(ngModel)]="bedroom" name="bedroom">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Extra Rooms</mat-label>
        <input matInput type="number"  [(ngModel)]="extraRooms" name="extraRooms">
      </mat-form-field>

      <mat-form-field>
      <mat-label>Washroom</mat-label>
      <input matInput type="number" [(ngModel)]="washroom" name="washroom">
    </mat-form-field>

    <br>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="number"  [(ngModel)]="price" name="price">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Property Area (Sq. Feet)</mat-label>
    <input matInput type="number"  [(ngModel)]="area" name="area">
  </mat-form-field>

  <mat-form-field style="width: 70%;">
    <mat-label>Address</mat-label>
    <textarea matInput class="text" [(ngModel)]="address" name="address"> </textarea>
  </mat-form-field>

  <mat-form-field style="width: 70%;">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description" name="description"> </textarea>
  </mat-form-field>

  
  <!-- <div>
    <mat-form-field>
      <input matInput readonly [(ngModel)]="fileAttr" name="fileAttr">
    </mat-form-field>
    <div mat-button>
      <input style="display: none" type="file" (change)="onUpload($event)" #fileInput multiple="multiple" accept="image/*">
      <mat-icon>upload</mat-icon>
      Upload Images
    </div>
  </div> -->

  <div>
    <mat-form-field>
      <input matInput readonly [(ngModel)]="fileAttr" name="fileAttr">
      <input style="display: none" type="file" (change)="onUpload($event)" #fileInput multiple="multiple" accept="image/*">
    </mat-form-field>
    <button mat-button type="button"(click)="fileInput.click()" >
      <mat-icon>upload</mat-icon>
      Upload Images
    </button>
  </div>
  
  <!-- <button mat-button color="primary" class="submit-button" type="submit">Add Property</button> -->
  <div style="margin: 15px;">
    <button mat-button type="submit" class="btn btn-default"> Submit</button>
    
</div>
</form>
</div>
</div>

  </mat-card>

     
  <app-footer></app-footer>


