  <!DOCTYPE html>
  <html class="no-js"> 
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
      </head>
      <body>

          <div class="header-connect">
                      <div class="col-md-5 col-sm-8  col-xs-12">
                          <div class="header-half header-call">
                              <p>
                                  <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                  <span><i class="pe-7s-mail"></i> info@pbchain.com</span>
                              </p>
                          </div>
                      </div>
          </div>       
          
        <div class="page-head"> 
          <div class="container">
              <div class="row">
                  <div class="page-head-content">
                      <h1 class="page-title">Add New Property </h1>               
                  </div>
              </div>
          </div>
      </div>

      <mat-card>
    
      <div class="register-area">
      <div class="col-md-12 col-xs-12 register-blocks">
        <form class="form">    
    <mat-card-title class="title">
        <h2>Property Details</h2>
    </mat-card-title>

       <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedCity" name="selectedCity">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput type="text" [(ngModel)]="location" name="location">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Property Type</mat-label>
        <mat-select [(ngModel)]="selectedPropertyType" name="type">
          <mat-option *ngFor="let type of propertyTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field>
          <mat-label>Property Area (Sq. Feet)</mat-label>
          <input matInput type="number"  name="area">
        </mat-form-field>

      <mat-form-field>
        <mat-label>Bedrooms</mat-label>
        <input matInput type="number"  name="bedroom">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Extra Rooms</mat-label>
        <input matInput type="number"  name="extraRooms">
      </mat-form-field>

      <mat-form-field>
      <mat-label>Washroom</mat-label>
      <input matInput type="number"  name="washroom">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="number"  name="price">
  </mat-form-field>

  <!-- <button mat-button color="primary" class="submit-button" type="submit">Add Property</button> -->
  <div class="text-center">
    <button type="submit" class="btn btn-default"> Submit</button>
    
</div>
</form>
</div>
</div>

  </mat-card>

     
  <app-footer></app-footer>


